extends layouts/layout

block bodyContent
    form(method="POST", action=`/edit/${id}`)
        div
            label(for="name") Name
            input(type="text", autocomplete="name", id="name", name="name", value=name required)
        div
            label(for="email") Email
            input(type="email", autocomplete="email", id="email", name="email", value=email required)
        div
            label(for="age") Age
            input(type="number", min=0, max=123, id="age", name="age", value=age required)
        input(type="submit", value="EDIT")