extends layouts/layout

block bodyContent
    h1 User Manager Application
    table
        tr
            th Name
            th Email
            th Age
            th Edit
        each user in users
            tr
                td= user.name
                td= user.email
                td= user.age
                td
                    a(href=`/edit/${user.id}`) edit
    button
        a(href='/add') + ADD USER +
